<h1 id='tool_header'>Edit Tool</h1>

<%= render :partial =>'form' %>
<br/>
<%= render :partial => 'footer' %>

<%= render :partial => 'shared/topnav_select_active', :locals => {:select => 'tools'} %>
