<%= content_for :javascript_includes do %>
	<%= javascript_include_tag 'corpus_index.js' %>
<% end %>

<h1>Tools</h1>
<br/>

<% @tools.each do |t| %>
	<%= render :partial => "shared/tool_index1", :locals => {:tool => t} %>
<% end %>

<div class='row-fluid'>
	<a class='btn span12' href='/tools/new'>New Tool</a>
</div>