<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
    <h1>Suggestion from <%= @from %></h1>
    <p>
      <%= @text %>
    </p>
		<br/>
		<p>From: <%= @from %></p>
		<p>Name: <%= @name %></p>
		
  </body>
</html>
