<%= content_for :javascript_includes do%>
	<%= javascript_include_tag 'dropload.js' %>
<% end %>

<!--<%= setup_upload %>-->

<%= render :partial => 'shared/dropbox' %>

<br/>

<div id='dropbar_holder'>
	
</div>

