<%= content_for :javascript_includes do%>
	<%= javascript_include_tag 'dropload.js' %>
<% end %>




<div id='dropbox' class='drop_box'>
	<span id='droplabel' class='drop_label'>
		Drop Archive Here
	</span>
</div>

<br/>

<div id='pbar_holder'>
	
</div>

