<%= content_for :javascript_includes do%>
	<%= javascript_include_tag 'dropload.js' %>
<% end %>

<div id='dropbox' class='drop_box'>
	<span id='droplabel' class='drop_label'>
		Drop Archive Here
	</span>
</div>


<!--
<div class='progress progress-striped active'>
	<div class='bar' style='width: 0%;' id='pbar'></div>
</div>-->

<br/>

<div id='pbar_holder'>

</div>

