<h1>Edit Publication</h1>

<%= render :partial => 'edit_form' %>

<%= content_for :javascript_includes do %>
	<%= javascript_include_tag 'resumable.js' %>
	<%= javascript_include_tag 'tools_form.js' %>
<% end %>