<% content_for :javascript_includes do %>
	<%= javascript_include_tag "corpus_index.js" %>
<% end %>

<h1>Publications</h1>

<br/>

<% @pubs.each do |p| %>
	<%= render :partial => 'shared/publication_index1.html.erb', 
			:locals => {:p => p} %>
<% end %>

<% if user_signed_in? %>
	<div class='row-fluid'>
		<a class='btn span12' href='/publications/new'>New Publication</a>
	</div>
<% end %>



