<% content_for :javascript_includes do %>
	<%= javascript_include_tag "corpus_index.js" %>
<% end %>

<h1>Publications</h1>
<% unless user_signed_in? %>
	<div class='alert alert-info'>
		<button type="button" class="close" data-dismiss="alert">×</button>
		<h5>Please <a href='/users/sign_in'>Sign-in</a> or <a href='/users/sign_up'>Register</a> to upload and edit your own Publications.</h5>
	</div>
<% end %>

<% @pubs.each do |p| %>
	<%= render :partial => 'shared/publication_index1.html.erb', 
			:locals => {:p => p} %>
<% end %>

<% if user_signed_in? %>
	<div class='row-fluid'>
		<a class='btn span12' href='/publications/new'>New Publication</a>
	</div>
<% end %>



