<% content_for :javascript_includes do %>
	<%= javascript_include_tag "corpus_index.js" %>
<% end %>

<h1>Publications</h1>

<br/>

<% @pubs.each do |p| %>
	<%= render :partial => 'shared/publication_index1.html.erb', 
			:locals => {:p => p} %>
<% end %>



<a class='btn' href='/publications/new'>New Publication</a>
