<h1 id='publication_header'>New Publication</h1>

<%= render :partial => 'form' %>

</br>

<script type='text/javascript'>
	<% if @corpus %>
		add_to_corpora('<%= @corpus.name %>', '<%= @corpus.id %>');
	<% end %>
</script>

<%= render :partial => 'shared/topnav_select_active', :locals => {:select => 'pubs'} %>