<tr>
	<td>&nbsp;</td>
	<td>
		<span class='pull-right'>

			<small class='corpus_show_name'>
				Version:
			</small>
			<small class='corpus_show_value'>
				<%= ua.version %>
			</small>
		</span>
	</td>
</tr>