<tr>
	<td>&nbsp;</td>
	<td>
		&nbsp;&nbsp;&nbsp;
		&nbsp;
		<span class=''>
			<small class='corpus_show_name'>
				Version:
			</small>
			<small class='corpus_show_value'>
				<%= ua.version %>
			</small>
		</span>
	</td>
</tr>