<table class='pretty-table'>
	<tr>
		<th>Name</th>
		<th>Email</th>
	</tr>
	
	
	<%@users.each do |user| %>
	<tr>
		<td><%=user.name%></td>
		<td><a href='mailto:<%= user.email %>' target='_blank'><%=user.email%></a></td>
	</tr>
	<% end %>
</table>

<script type="text/javascript">
 $(function() {
        /* For zebra striping */
        $("table tr:nth-child(odd)").addClass("odd-row");
        /* For cell text alignment */
        $("table td:first-child, table th:first-child").addClass("first");
        /* For removing the last border */
        $("table td:last-child, table th:last-child").addClass("last");
	});
</script>
