<div class='center hero-unit grad1'>
	<h1><%= current_user.name%></h1>
	<small><%= current_user.email %></small>
	
	<p>
	<!--Not you? Then <%= link_to "Sign out", destroy_user_session_path, :method => :delete %><br/>-->
	</p>
</div>

<div class='row-fluid'>
	<div class="box span2">
		<ul class="nav nav-tabs nav-stacked">
			<li class='l-nav'><a href='/users' class=''>Show All Users</a></li>
			<li class='l-nav'><a href='/user/invite' class=''>Invite a Friend</a></li>

			<li class='l-nav'><a href='/corpora' class=''>View Corpora</a></li>
			<li><a href='/corpora/new' class=''>New Corpus</a></li>
		</ul>
	</div>
	
	<div class='box span5'>
		
	</div>
	
	<div class='box span5'>
	</div>
	
</div>

