<%= content_for :javascript_includes do %>
  <%= javascript_include_tag 'resumable.js' %>
<% end %>
<h1>Resumable Upload Test</h1>

<%= render :partial => 'shared/resumable_stuff' %>

<%= javascript_include_tag 'use_resumable.js' %>