<div class='corpi_item_small' onclick="window.location='<%= corpus_path(corpus) %>'">
	<i class="icon-book"></i>
    <%= corpus.name %>

    <span class='corpi_l pull-right'><%= corpus.human_duration %> </span>

</div>