<div class='corpi_item_small' onclick="window.location='<%= corpus_path(corpus) %>'">
	<table class='item-small-element'>
	<tr>
		<td class='item-icon-cell'>
			<i class="fa fa-fw fa-book"></i>
		</td>

		<td>
	    	<%= corpus.name %>
		</td>

		<td>
	    	<span class='corpi_l pull-right'><%= corpus.human_duration %> </span>
	    </td>
	</tr>
	</table>
</div>