<div class='corpi_item_small' onclick="window.location=('<%= publication_path(p)%>')">
	<table class='item-small-element'>
		<tr>
			<td class='item-icon-cell'>
				<%= render :partial => 'shared/icon.publication' %>
			</td>
			<td>
				<%= p.name %>
			</td>
			<td>
				<% if p.pubdate && p.pubdate.year != 0%>
					<span class='badge pull-right'>
						<!-- <i class='fa fa-fw fa-calendar'></i> -->
						<%= p.pubdate.year %>
					</span>
				<% end %>
			</td>
		</tr>
	</table>
</div>
