<div class='corpi_item_small' onclick="window.location=('<%= publication_path(p)%>')">
	<table class='item-small-element'>
		<tr>
			<td class='item-icon-cell'>
				<i class="fa fa-fw fa-file"></i>
			</td>
			<td>
				<%= p.name %>
			</td>
			<td>
				<% if p.pubdate && p.pubdate.year != 0%>
					<span class='badge pull-right'><%= p.pubdate.year %> </span>
				<% end %>
			</td>
		</tr>
	</table>
</div>
