<div class="resumable-error">
Your browser, unfortunately, is not supported by Resumable.js. The library requires support for <a href="http://www.w3.org/TR/FileAPI/">the HTML5 File API</a> along with <a href="http://www.w3.org/TR/FileAPI/#normalization-of-params">file slicing</a>.
</div>

<div class="resumable-drop" ondragenter="jQuery(this).addClass('resumable-dragover');" ondragend="jQuery(this).removeClass('resumable-dragover');" ondrop="jQuery(this).removeClass('resumable-dragover');">
  Drop files here to upload or <a class="resumable-browse"><u>select from your computer</u></a>
</div>

<div class="resumable-progress">
  <table>
    <tr>
      <td width="100%">
        <div class="progress-container"><div class="progress-bar"></div></div>
      </td>

      <td class="progress-text" nowrap="nowrap"></td>

      <td class="progress-pause" nowrap="nowrap">
        <a href="#" onclick="r.upload(); resumeCallback(); return(false);" class="progress-resume-link btn btn-small btn-info">
          <!--<img src="/assets/resume.png" title="Resume upload" />-->
          Upload
        </a>

        <a href="#" onclick="r.pause(); return(false);" class="progress-pause-link btn btn-small btn-info">
          <!--<img src="/assets/pause.png" title="Pause upload" />-->
          Pause
        </a>
      </td>
    </tr>
  </table>
</div>

<div class="resumable-list">
</div>