<div class='indexTop row-fluid'>
	<div class='resourceSearchBar span8'>
		<form class='form-horizontal' id='resourceSearchForm'>
			<input type='text' placeholder='Search' class='resourceSearch input' name='query' id='resourceSearchQuery'/><button class='btn btn-small btn-primary' id='resourceSearchButton'><i class='icon-search'></i></button>
			&nbsp;
			<!-- <span class='badge'><i class='icon-filter'></i></span> -->
			<span class='btn-group' id='roleToggleGroup'>
				<a class='btn btn-small' data-name='member' id='role-member'>Member</a>
				<a class='btn btn-small' data-name='owner' id='role-owner'>Owner</a>
				<a class='btn btn-small' data-name='approver' id='role-approver'>Approver</a>
			</span>
			<span class='btn-group'>
				
				<a class='btn btn-small' id='selectedOrder' data-name='created_at' disabled>Created</a>
				<a class="btn btn-small dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</a>

				<ul class="dropdown-menu">
					<li><a href='#' class='orderButton' data-name='created_at' id='order-created_at'>Created</a></li>
					<li><a href='#' class='orderButton' data-name='updated_at' id='order-updated_at'>Updated</a></li>
					<li><a href='#' class='orderButton' data-name='name' id='order-name'>Name</a></li>
				</ul>

			</span>
			
		</form>
	</div>
	
	<div class='span4 paginationWrapper'>
		<%= paginate collection %>
	</div>
</div>