<div class='indexTop row-fluid'>
	<div class='resourceSearchBar span8'>
		<form class='form-horizontal' id='resourceSearchForm'>
			<input type='text' placeholder='Search' class='resourceSearch input' name='query' id='resourceSearchQuery'/><button class='btn btn-small btn-primary' id='resourceSearchButton'><i class='fa fa-fw fa-search'></i></button>
			&nbsp;
			
			<span class='btn-group' id='roleToggleGroup'>
				<% collection_class.membership_class.roles.each do |role| %>
				<a class='btn btn-small' data-name='<%= role %>' id='role-<%= role %>'><%= role.capitalize %></a>
				<% end %>
			</span>
			<span class='btn-group'>
				
				<a class='btn btn-small' id='selectedOrder' data-name='created_at' disabled>Created</a>
				<a class="btn btn-small dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</a>

				<ul class="dropdown-menu">
					<li><a href='#' class='orderButton' data-name='created_at' id='order-created_at'>Created</a></li>
					<li><a href='#' class='orderButton' data-name='updated_at' id='order-updated_at'>Updated</a></li>
					<li><a href='#' class='orderButton' data-name='name' id='order-name'>Name</a></li>
				</ul>

			</span>
			
		</form>
	</div>
	
	<div class='span4 paginationWrapper'>
		<%= paginate collection %>
	</div>
</div>