<a class='member' href='/users/<%= mem.id %>'>
	<img class='user-avatar-mini' src='/users/<%= mem.id %>/gravatar?size=50' alt='user avatar'/>
	<span class='member_name'>
		<%= mem.name %>
	</span>
</a>
