<div class='corpi_item_small' onclick="window.location = '<%= tool_path(tool)%>'">
	<table class='item-small-element'>
		<tr>
			<td class='item-icon-cell'>
				<i class="icon-wrench"></i>
			</td>
			<td>
				<%= tool.name %>
			</td>
			<td>
				<span class='badge pull-right'><%= tool.to_short_description_string%></span>
			</td>
		</tr>
	</table>
</div>

