<div class='corpi_item_small' onclick="window.location = '<%= tool_path(tool)%>'">
	<table class='item-small-element'>
		<tr>
			<td class='item-icon-cell'>
				<i class="fa fa-fw fa-wrench"></i>
			</td>
			<td>
				<%= tool.name %>
			</td>
			<td>
				<% short, host = tool.to_short_description_string %>

				<% if short %>
				<span class='badge pull-right'>

					<% if host == "github.com"%>
						<i class='icon-github' title='hosted on github.com'></i>
					<% elsif host == "code.google.com" %>
						<i class='icon-home' title='hosted on code.google.com'><b>{}</b></i>
					<% end %>

					<%= short %>
				</span>
				<% end %>
			</td>
		</tr>
	</table>
</div>

