<div class='corpi_item_small' onclick="window.location = '<%= tool_path(tool)%>'">
	<i class="icon-wrench"></i>
	<%= tool.name %>
	<span class='badge pull-right'><%= tool.to_short_description_string%></span>
</div>

