<div class='center hero-unit'>
	<h1>About Reciprosody</h1>
	
	
	<div class='about'>
	<p>Reciprosody is an open repository of prosodically annotated speech.</p>
	<p>
	Currently, prosody researchers lack a simple way to share their annotated data. This lack: 
	1) limits our ability to test robust supervised techniques for automatic prosody detection; 
	2) makes it difficult to compare performance across publications that operate on private corpora; 
	and 3) puts the burden on the creators of a resource to maintain and distribute their data. 
	The lack of shareable data is particularly worrisome in our field, since prosodic annotation, 
	as we all know, is a very onerous and time-consuming task.
	</p>
	
	<p>
	We have developed a way to address these issues, 
	by making it easy for individuals and groups to share prosodically annotated data, 
	for any language and using any annotation scheme. 
	Reciprosody serves to simplify the dissemination process for corpus owners, 
	while simplifying the process of locating material for researchers. 
	Corpora of all sizes, using any annotation standard, in any language are welcome.
	</p>
	
	<p>
	All material shared on Reciprosody is distributed freely for non-commercial research. 
	By default, all hosted material is covered by the 
	<a href='http://creativecommons.org/licenses/by-nc-sa/3.0/' target='_blank'>
	Creative Commons Attribution-Non-Commercial-Share-Alike 3.0 License</a>.
	Other licenses that allow for open dissemination are used on the request of the owner of the hosted material. 
	All rights to hosted material remain with the owner of the material.
	</p>
	
	</div>
</div>
