<ul class="nav nav-tabs" id="tab_bar">
	<li class="active"><a href="#upload" data-toggle='tab'>Upload</a></li>
	<li><a href="#download" data-toggle='tab'>Download</a></li>
	<li><a href="#manage_users" data-toggle='tab'>Manage Users</a></li>
</ul>

<div class="tab-content">

	<div class="tab-pane active" id="upload">
		<h4>Getting to the New Corpus page</h4>
		<p>
		To upload with Reciprosody navigate to the Corpora tab on the main top most panel
		and click on the <strong>New Corpus</strong> button. 
		<br/>
		You will also find a link to
		the <strong>New Corpus</strong> page on your home page</p>
		</p>
		
		<br/>
		
		<h4>Required Fields</h4>
		<p>
		You are required to fill in the <strong>Name</strong>, <strong>Language</strong>, and approximate <strong>Time Length</strong> of
		the Corpus.<br/>
		
		You are asked to enter the <strong>Time Length</strong> in Hours, Minutes, and Seconds.
		The sum of these units cannot be equal to zero and is considered invalid input.<br/>
		The format of these units must be correct. For example, to
		say the corpus is 1 hour, 2 minutes, and 900 seconds long is considered invalid input.
		</p>
		
		<br/>
		
		<h4>Other Fields</h4>
		<p>The <strong>description</strong> and <strong>citation</strong> fields support
		Markdown notation. These fields are not required to be filled.</p>
		
		<br/>
		
		<h4>For More Help</h4>
		<a href='/contact' class='btn'>Contact Us</a>
	</div>
	
	<div class="tab-pane" id="download">
		<h2>Coming Soon.</h2>
	</div>
	
	<div class="tab-pane" id="manage_users">
		<h2>Coming Soon.</h2>
	</div>
	
	<script type='text/javascript'>
		
	</script>
</div>
