<div class="hero-unit center">
	<h1 class='center'>Welcome to Reciprosody.</h1>
	<p class='featurette-heading'>
		A repository of prosodically annotated material.
		<br/>
		<small>All material is distributed under open-source or academic/scholarly research licenses.</small>
		
	</p>
	
	<% if user_signed_in? %>
		Signed in as <%= current_user.email %>.<br/>
		Not you? Then <%= link_to "Sign out", destroy_user_session_path, :method => :delete %><br/>
	<%else%>
		<%= link_to "Sign in", "/users/sign_in", :class => "btn" %>
		<br/>
		<span class='badge'>OR</span>
		<br/>

		<%= link_to "Sign up today", new_user_registration_path, class: "btn btn-large btn-primary" %>
	<%end%>
</div>