<div class='center hero-unit'>
	<h1>Almost done.</h1>
	<h4>Please check your email for a confirmation email. Follow the link to confirm your account.</h4> 
</div>

<div class='row-fluid'>
	<div class="box span4">
		<h5>Don't see a confirmation email?</h5>
		<p><i>There is a chance it may have been filtered out by your spam filter. Please check your spam folder.</i></p>
	</div>
</div>
