<div class='member'>
	<span class='member_name'><%= mem.name %></span>
	<span class='member_email pull-right'><a href="mailto:<%= mem.email%>" class='btn btn-mini' target='_BLANK'><i class='icon-envelope'></i>&nbsp;<%= mem.email %></a></span>
</div>
