<div class='member'>
	<span class='member_name'><%= mem.name %></span>

	<span class='member_email pull-right'>
		<a href="mailto:<%= mem.email%>" class='btn btn-mini mem-email' target='_BLANK'>
			<%= render :partial => 'shared/icon2', :locals => {:icon => 'envelope', :extra => 'pull-left'}%>&nbsp;<%= mem.email %>
			</a>
	</span>
</div>
