<% content_for :javascript_includes do %>
	<%= javascript_include_tag "resource_index.js" %>
<% end %>

<h1 class='resourceIndexHeader'>Corpora</h1>

<% unless user_signed_in? %>
	<div class='alert alert-info'>
		<button type="button" class="close" data-dismiss="alert">×</button>
		<h5>Please Sign-in or Register to download, view, edit, and upload Corpora.</h5>
	</div>
<% end %>
		 
<% @corpora.each do |corpus| %>
	<%= render :partial => 'shared/corpus_index1', :locals => {:corpus => corpus} %>
<% end %>

<br />

<%if user_signed_in? %>
	<div class='row-fluid'>
		<%= link_to 'New Corpus', new_corpus_path, :class => 'btn span12' %>
	</div>
<% end %>

<%= render :partial => 'shared/topnav_select_active', :locals => {:select => 'corpora'} %>
