<% content_for :javascript_includes do %>
<% end %>

<p id="notice"><%= notice %></p>

<%= render :partial => 'tabs', :locals => {:tab => 'publications'} %>

<br/>


<br/>

<%= render :partial => 'footer' %>



    
