<% content_for :javascript_includes do %>
<% end %>

<p id="notice"><%= notice %></p>

<%= render :partial => 'tabs', :locals => {:tab => 'publications'} %>

<br/>

<a href='/publications/new?corpus_id=<%= @corpus.id %>' class='btn btn-primary'>
	New Publication
</a>

<br/><br/>

<%= render :partial => 'footer' %>



    
